<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buy Bus Pass</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="common-bg">
  <ion-card class="full-width" no-margin margin-bottom>
    <ion-card-content no-padding>
      <ion-item>
        <ion-label>Select Pass Type</ion-label>
        <ion-select [(ngModel)]="buypass" (ionChange)="getPass(buypass)">
          <ion-option *ngFor="let buypass of SelectPassType" [value]="buypass.pt_id">{{ buypass.type }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div *ngIf="passtype">
    <ion-list *ngFor="let pass of passtype">
      <ion-item item-start tappable (click)="tapEvent(pass.price)">
        {{pass.pd_type}}
        <ion-note ion-text color="primary" item-end>
            <!-- <ion-icon name="custom-rupee-indian" item-left></ion-icon> -->
            Rs:{{pass.price}}
        </ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
