<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="animated fadeIn common-bg">

  <ion-card *ngFor="let user of users">
    <!-- <img [src]="user.avatar" /> -->
    <div align="center">
      <img class="profile-image" src="assets/img/blank-avatar.jpg">
    </div>
    <ion-card-content>
      <h2>
          Name:
        <strong>
            {{user.first_name}} {{user.last_name}}
        </strong>
      </h2>
      <h2>
          Email Id:
        <strong>
            {{user. user_email}}
        </strong>
      </h2>
      <h2>
          Mobile No:
        <strong>
            {{user.user_mobile}}
        </strong>
      </h2>
    </ion-card-content>
  </ion-card>

</ion-content>
<!-- <ion-content>
    <ion-list inset>
      <ion-item *ngFor="let user of users">
        <h2>{{user.userfullname}}</h2>
        <p>{{user.useremail}}</p>
      </ion-item>
    </ion-list>
  </ion-content> -->
